.BaccaratContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 16px;
}

.NumberInput {
  width: 100%;
  min-width: 179px;
}

.BaccaratSummaryContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.SummaryLine {
  margin: 0;
}

.Label {
  display: inline-block;
  color: #292929;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
  width: 75px;
}

.Value {
  font-weight: normal;
  margin: 0;
}

.Title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.InputsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.SummaryContainer {
  width: 100%;
}

.Divider {
  margin: 0 8px;
}

.Heading {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
}

.DealButton {
  // margin: 20px 0;
  width: 150px;
}

.Table {
  // height: 50vh;
  overflow-y: auto;
  border: 1px solid #eeeeee;
}

.MultiHandHistoriesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DealButtonWrapper {
  display: flex;
  justify-content: center;
}

.SectionsContainer {
  display: flex;
}

.Section {
  width: 50%;
}

.Tabs {
  width: 450px;
}

.StrategyResultsSelect {
  margin-bottom: 12px;
}
