.AdminContainer {
  width: 100%;
  padding: 0 50px;
}

.DialogHeading {
  text-align: center;
}

.DialogButtonsContainer {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
}

.Submit {
  margin: 10px 10px 0 0;
}

.SuccessMessage {
  color: green;
}

@media (max-width: 600px) {
  .AdminContainer {
    padding: 0 16px;
  }
}

.AdminHomeOptionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AdminHomeButtons {
  font-size: 20px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 375px;
}

.AllQuestionsContainer {
  display: flex;
  flex-direction: column;
}

.CategoryButtons {
  margin: 10px 0;
}

.AllQuestionsHeadingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HomeButton {
  background-color: green;
}
