.HeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 10px 20px;
  background-color: white;
}

.MenuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 10px;
}

.MenuButtonText {
  color: black;
  font-size: 20px;
  margin-left: 12px;
}

.AdminButton:hover,
.MenuButton:hover {
  background-color: #e9e9e9;
  color: black;
}

.AdminButton {
  background-color: black;
  color: white;
}
