.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  width: 100%;
}

@media (max-width: 1200px) {
  .main {
    width: calc(100vw - 100px);
  }
}

@media (max-width: 780px) {
  .main {
    width: 100vw;
  }
  .categoryButton {
    height: 100%;
    padding: 0 50px;
    font-size: 0.8em;
  }
}

@media (max-width: 677px) {
  .main {
    width: 100vw;
  }
  .categoryButton {
    height: 100%;
    /* width: 100%; */
    padding: 0 30px;
  }
}

@media (max-width: 520px) {
  .main {
    width: 100vw;
  }
  .categoryButton {
    height: 100%;
    padding: 0 20px;
  }

  .categoriesContainer {
    justify-content: space-between;
    padding: 10px;
  }
}

@media (max-width: 415px) {
  .main {
    width: 100vw;
  }
  .categoryButton {
    height: 100%;
    margin: 6px;
    width: 40%;
  }

  .categoriesContainer {
    justify-content: space-around;
    padding: 10px;
  }
}
