$primary-text: black;
$secondary-text: black;
$primary-btn: black;
$primary-btn-hover: #515151;
$secondary-btn: white;
$secondary-btn-hover: #faf6f6;
$card-back-background: #c1d7ed;

$mobile-breakpoint: 500px;

$card-height: 250px;
$card-width: 500px;